.login-polygon {
    position: absolute;
    width: 40%;
    height: 100vh;
    left: 0px;
    top: 0px;
    clip-path: polygon(0 0, 100% 0, 70% 50%, 100% 100%, 0 100%);
    background: #d9d9d9;
}

.register-polygon {
    position: absolute;
    width: 40%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: lightgray;
    clip-path: polygon(0 0, 70% 0, 100% 50%, 70% 100%, 0 100%);
    background: #d9d9d9;
}

.info-container {
    position: absolute;
    width: 500px;
    height: 100vh;
    left: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-container {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
}

.auth-button {
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-align: center;
    box-shadow: 1px 3px 1px gray;
}

.dark {
    background-color: #333333;
    color: white;
}

.white {
    background-color: #eeeeee;
    color: black;
}

.long {
    width: 500px;
}

.short {
    width: 240px;
    margin: 10px;
}

.auth-button:hover {
    cursor: pointer;
    opacity: 90%;
}

.input-field {
    border: none;
    width: 500px;
    margin-bottom: 20px;
    border-bottom: 1px solid #7a7a7a;
    outline: none;
    font-size: 16px;
    padding: 8px 0;
    color: #333;
}

.input-field-short {
    border: none;
    width: 230px;
    margin: 20px;
    border-bottom: 1px solid #7a7a7a;
    outline: none;
    font-size: 16px;
    padding: 8px 0;
    color: #333;
}

.input-field:focus {
    border-bottom: 1px solid #333;
}

.link {
    display: block;
    text-align: right;
    color: #5962b6;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    width: 430px;
    justify-content: left;
}

.progress-bar {
    width: 500px;
    height: 2.5px;
    opacity: 30%;
    background-color: darkorchid;
}