.modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
  width: 100%;
}

.language {
  font-size: 15px;
  font-weight: 600;
  color: rgb(96, 96, 96);
}

.question {
  margin: 20px 0 10px 35px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(96, 96, 96);
}

.checkbox-label {
  font-size: 14px;
}

.divider {
  margin: 40px 0;
  height: 1px;
  width: 100%;
  border: none;
  background-color: #E0E0E0;
}

.heading {
  margin: 0 0 25px;
}