.screen {
  margin: 100px 12.5vw 0;
  width: 75vw;
  flex-wrap: wrap;
  background-color: white;
}

.divider {
  margin: 10px 0;
  height: 1px;
  width: 100%;
  border: none;
  background-color: #a5a5a5;
}

.divider-light {
  margin: 20px 0;
  height: 1px;
  width: 100%;
  background-color: #c0c0c0;
}

.bold {
  font-weight: bold;
}

.indented {
  padding-left: 20px;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: fixed;
  top: 0;
  align-items: center;
  padding: 0 3vw;
  height: 60px;
  width: 100vw;
  background-color: #E4EEFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.waiting-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  height: calc(100vh - 250px);
}

.code {
  margin-left: 18px;
  padding: 0 25px 0 7px;
  height: 24px;
  width: calc(100% - 150px);
  font-weight: lighter;
  color: #4B4B4B;
  background-color: #E5EAF3;
}

.website {
  margin: 14px 0 13.5px;
  font-size: 28px;
  color: #415478;
}

.timeline {
  margin: 5px 0;
}

.tile {
  border-radius: 5%;
  padding: 10px;
  text-align: center;
  height: 300px;
  width: 300px;
  align-items: center;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tile-title {
  flex: 1;
}

.tile-description {
  flex: 2;
}

.tile-button-container {
  flex: 1;
}

.tile-button {
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  color: white;
  background-color: #7D84AF;
}

.tile-button:hover {
  cursor: pointer;
  opacity: 90%;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0;
}