.screen {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 100px 120px 0;
  height: calc(100vh - 100px);
  width: calc(100vw - 240px);
}

.side-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 240px;
  height: calc(100vh - 250px);
}

.pfp {
  height: 218px;
  width: 218px;
  border-radius: 50%;
}

.name {
  margin-top: 10px;
  height: 42px;
  font-size: 28px;
}

.role {
  margin: 3px 0 40px;
  height: 21px;
  font-size: 14px;
}

.sidebar {
  width: 220px;
}

.sidebar-btn {
  padding-left: 25px;
  color: #4e5c88;
  height: 51px;
  width: 220px;
  text-align: left;
}

.sidebar-btn:hover {
  background-color: #9fb9d65c;
}

.sidebar-btn:focus {
  background-color: #8094ab61;
}

.sidebar-divider {
  margin: 0 auto;
  height: 1px;
  width: 215px;
  border: none;
  background-color: #e2e2e2;
}

.inner-screen {
  margin-top: 40px;
  height: calc(100vh - 140px);
  width: 61.5vw;
}

.title {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  align-items: center;
  column-gap: 10px;
  height: 40px;
  font-size: 25px;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 50px;
  height: 55px;
  width: 100%;
}

.edit-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 50px;
  height: 65px;
  width: 100%;
}

.menu {
  grid-column: 6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 5px;
  margin-left: auto;
  height: 100%;
}

.pfp-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 100%;
  font-size: 14px;
  text-align: right;
  color: #262626ff;
}

.pfp-name {
  margin: 9px 0 0;
  color: #42506d;
}

.pfp-role {
  margin: 0;
  font-size: 12px;
  color: grey;
}

.edit-box {
  width: 262px;
  height: 34px;
  padding: 5px 14px;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
}

.select-box {
  width: 262px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
}

.profile-button {
  background-color: #333333;
  color: white;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  width: 100px;
  height: 35px;
  position: absolute;
  right: 120px;
}

.profile-button:hover {
  opacity: 90%;
  cursor: pointer;
}
